<template>
    <v-container>
        <v-row>
            <v-col class="text-center">
                <h1>Chart Manager</h1>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    name: 'ChartManager'
}
</script>

<style scoped>

</style>