<template>
    <v-container>
        <v-row>
            <v-col v-if="error === ''" col="12" md="12">
                <p v-if="startDateTime">Start of work : {{ startDateTime.toLocaleString() }}</p>
                <p v-if="clockIn" class="active">
                    <span class="timer">{{ time }}</span>
                </p>
                <p  v-else class="unactive">The user is not working</p>
            <v-btn dark v-on:click="clock()" class="mr-2">Clock</v-btn>
            </v-col>
            <v-col v-else class="text-center" col="12" md="12">
                <p>{{ error }}</p>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import moment from 'moment'
import { setInterval } from 'timers'

export default {
    name: 'ClockManager',
    data: function() {
        return {
            startDateTime: null,
            clockIn: null,
            error: '',
            time: '',
            timerInterval: null,
            timeBegan: null,
            running: false
        }
    },
    computed: {
        ...mapGetters([
            `user`
        ])
    },
    methods: {
        getClockInformations: function() {
            axios.get('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/clocks/'+this.user.id).then((response) => {
                    let data = response.data.data

                    // first clock
                    if(data === null) {
                        this.clockIn = false
                    } else {
                        this.clockIn = data.status
                    }

                    if(this.clockIn) {
                        this.startDateTime = new Date(data.time)
                        this.launchTimer(data.time)
                    } else {
                        this.startDateTime = null
                        this.resetTimer()
                    }

                    this.error = ''
            }).catch(() => {
                this.error = 'Erreur lors de la récupération des informations'
            })
        },
        clock: function() {
            axios.post('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/clocks/'+this.user.id).then((response) => {
                    let data = response.data.data
                    
                    if(response.status === 201) {
                        this.clockIn = data.status

                        if(this.clockIn) {
                            this.startDateTime = new Date(data.time)
                            this.launchTimer(data.time)
                        } else {
                            this.startDateTime = null
                            this.resetTimer()

                            if(this.$parent.$options.name == 'Dashboard') {
                                this.$parent.init()
                            } else if (this.$parent.$options.name == 'WorkingTimes') {
                                this.$parent.findWorkingTimes()
                            }
                        }

                        this.error = ''
                    } else {
                        this.error = 'Erreur lors du clock'
                    }
            }).catch(() => {
                this.error = 'Erreur lors de la récupération des informations'
            })
        },
        resetTimer() {
            if(this.timerInterval)
                clearInterval(this.timerInterval)

            this.running = false
            this.timeBegan = null
            this.time = ""
        },
        launchTimer(date) {
            this.timeBegan = new Date(date)
            this.timerRunning()
            this.timerInterval = setInterval(this.timerRunning, 1000)
            this.running = true
        },
        timerRunning(){
            var currentTime = new Date()
            , timeElapsed = new Date(currentTime - this.timeBegan)
            , hour = timeElapsed.getUTCHours()
            , min = timeElapsed.getUTCMinutes()
            , sec = timeElapsed.getUTCSeconds()
            , ms = timeElapsed.getUTCMilliseconds();

            this.time = 
                this.zeroPrefix(hour, 2) + ":" + 
                this.zeroPrefix(min, 2) + ":" + 
                this.zeroPrefix(sec, 2)
        },
        zeroPrefix(num, digit) {
            var zero = '';
            for(var i = 0; i < digit; i++) {
                zero += '0';
            }
            return (zero + num).slice(-digit);
        }
    },
    mounted: function() {
        this.getClockInformations();
    },
    watch: {
        '$route' () {
            this.getClockInformations();
        }
    }
}
</script>

<style scoped>
    .unactive {
        color: orange;
    }
    .active {
        color: green;
    }
    .timer {
        font-size: 100px;
        /* color: black; */
    }
</style>