<template>
    <v-container>
        <Clock/>
        <!----------------- ADMIN ----------------->
        <v-row v-if="isAdmin">
            <v-col class="d-flex" cols="12" sm="4">
                <v-select
                @change='changeUser()'
                v-model="currentUserID"
                item-text="email"
                item-value="id"
                :items="users"
                label="Choose a user"
                ></v-select>
            </v-col>
        </v-row>
        <!----------------- MANAGER ----------------->
        <v-row v-if="isManager">
            <v-col cols="12" sm="2">
                <v-dialog v-model="dialog" width="500">
                    <template v-slot:activator="{ on }">
                        <v-btn color="red lighten-2" dark v-on="on">Create team</v-btn>
                    </template>
                    <v-card>
                        <v-card-title class="headline lighten-2" primary-title>
                        Create team
                        </v-card-title>
                        <v-card-text>
                            <v-text-field v-model="newTeamTitle" label="Name of the new team"></v-text-field>
                        </v-card-text>
                        <v-divider></v-divider>
                        <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="primary" text @click="dialog=false">
                            Cancel
                        </v-btn>
                        <v-btn color="primary" text @click="createNewTeam()">
                            Create
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-col>
            <v-col v-if="Object.entries(selectedTeam).length != 0" cols="12" sm="2">
                <v-btn dark v-on:click="deleteTeam()">Delete team</v-btn>
            </v-col>
        </v-row>
        <v-row v-if="isManager">
            <v-col class="d-flex" cols="12" sm="4">
                <v-select
                @change='changeTeam()'
                v-model="currentTeamID"
                item-text="title"
                item-value="id"
                :items="teams"
                label="Choose a team"
                ></v-select>
            </v-col>
            <v-col class="d-flex" cols="12" sm="4">
                <v-select
                @change='changeUser()'
                v-model="currentUserID"
                item-text="email"
                item-value="id"
                :items="selectedTeam.users"
                label="Choose a user"
                ></v-select>
            </v-col>
            <v-col v-if="currentUserID != ''" class="d-flex" cols="12" sm="4">
                 <v-btn @click="removeUserFromTheTeam()">
                     Remove from {{ selectedTeam.title }}
                 </v-btn>
            </v-col>
        </v-row>
        <v-row v-if="Object.entries(selectedTeam).length != 0">
            <v-col class="d-flex" cols="12" sm="4">
                <v-select
                v-model="userToAdd"
                item-text="email"
                item-value="id"
                :items="usersToAdd"
                label="Choose a user to add"
                ></v-select>
            </v-col>
             <v-col v-if="userToAdd != ''" class="d-flex" cols="12" sm="4">
                 <v-btn @click="addUserToTeam()">
                     Add to {{ selectedTeam.title }}
                 </v-btn>
            </v-col>
        </v-row>
        <v-divider v-if="isManager"></v-divider>
        <!----------------- TEAM DASHBOARD ----------------->
        <v-row v-if="showTeamDashboard">
            <v-col class="text-center" cols="12" sm="12" md="12">
                <h1>Dashboard of team "{{selectedTeam.title}}"</h1>
            </v-col>
            <v-col cols="12" sm="4" md="4">
                <v-card id="line-chart-team-container" class="pa-2">
                    <canvas id="line-chart-team"></canvas>
                </v-card>
            </v-col>
            <v-col cols="12" sm="4" md="4">
                <v-card id="donut-chart-team-container" class="pa-2">
                    <canvas id="donut-chart-team"></canvas>
                </v-card>
            </v-col>
            <v-col cols="12" sm="4" md="4">
                <v-card id="bar-chart-team-container" class="pa-2">
                    <canvas id="bar-chart-team"></canvas>
                </v-card>
            </v-col>
        </v-row>
        <v-divider v-if="showTeamDashboard"></v-divider>
        <!----------------- EMPLOYEE DASHBOARD ----------------->
        <v-row v-if="showEmployeeDashboard">
            <v-col class="text-center" cols="12" sm="12" md="12">
                <h1 v-if="showTeamDashboard || isAdmin">Dashboard of "{{selectedUser.email}}"</h1>
                <h1 v-else>Dashboard of current user</h1>
            </v-col>
            <v-col cols="12" sm="4" md="4">
                <v-card id="line-chart-container" class="pa-2">
                    <canvas id="line-chart"></canvas>
                </v-card>
            </v-col>
            <v-col cols="12" sm="4" md="4">
                <v-card id="donut-chart-container" class="pa-2">
                    <canvas id="donut-chart"></canvas>
                </v-card>
            </v-col>
            <v-col cols="12" sm="4" md="4">
                <v-card id="bar-chart-container" class="pa-2">
                    <canvas id="bar-chart"></canvas>
                </v-card>
            </v-col>
        </v-row>
        <!----------------- MANAGER/ADMIN DASHBOARD ----------------->
        <v-row v-if="isManager || isAdmin">
            <v-col class="text-center" cols="12" sm="12" md="12">
                <h1 v-if="isManager">Manager dashboard</h1>
                <h1 v-else>Admin dashboard</h1>
            </v-col>
            <v-col cols="12" sm="4" md="4">
                <v-card id="manager-line-chart-container" class="pa-2">
                    <canvas id="manager-line-chart"></canvas>
                </v-card>
            </v-col>
            <v-col cols="12" sm="4" md="4">
                <v-card id="manager-donut-chart-container" class="pa-2">
                    <canvas id="manager-donut-chart"></canvas>
                </v-card>
            </v-col>
            <v-col cols="12" sm="4" md="4">
                <v-card id="manager-bar-chart-container" class="pa-2">
                    <canvas id="manager-bar-chart"></canvas>
                </v-card>
            </v-col>
        </v-row>
        <v-snackbar v-model="snackbar" top :timeout="timeout">
        {{ textSnackbar }}
        <v-btn color="blue" text @click="snackbar = false">
            Close
        </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import moment from 'moment'
import Chart from 'chart.js'
import Clock from './ClockManager.vue'
import {lineChartData, managerLineChartData} from './charts/employee/line-chart'
import {donutChartData, managerDonutChartData} from './charts/employee/donut-chart'
import {barChartData, managerBarChartData} from './charts/employee/bar-chart'
import teamLineChartData from './charts/team/team-line-chart'
import teamDonutChartData from './charts/team/team-donut-chart'
import teamBarChartData from './charts/team/team-bar-chart'

const reducerTeam = (month) => {
    return (total, item) => {
    let startOfMonth, endOfMonth
    let offset = item.offsetHours
    let beforeMonth, afterMonth

    startOfMonth = moment().month(month).startOf('month')
    endOfMonth = moment().month(month).endOf('month')

    if(item.startMoment.isBefore(startOfMonth)) {
        beforeMonth = moment.duration(startOfMonth.diff(item.start))
        offset -= beforeMonth.asHours()
    }
    if(item.endMoment.isAfter(endOfMonth)) {
        afterMonth = moment.duration(item.endMoment.diff(endOfMonth))
        offset -= afterMonth.asHours()
    }

    return total + offset
}
}

export default {
    name: "Dashboard",
    components: {
        Clock
    },
    data: function() {
        return {
            /**************** dashboard (team) ****************/
            teamLineChartData: teamLineChartData,
            teamDonutChartData: teamDonutChartData,
            teamBarChartData: teamBarChartData,
            usersColor: [],
            /**************** dashboard (manager) *************/
            managerLineChartData: managerLineChartData,
            managerDonutChartData: managerDonutChartData,
            managerBarChartData: managerBarChartData,
            /************** dashboard (employee) **************/
            lineChartData: lineChartData,
            donutChartData: donutChartData,
            barChartData: barChartData,
            /******************** manager *********************/
            dialog: false,
            newTeamTitle: '',
            teams: [],
            users: [],
            selectedTeam: {},
            selectedUser: {},
            // select data team
            teamsSelect: [],
            currentTeamID: '',
            // select data user of the team
            currentUserID: '',
            // select user to add
            userToAdd: '',
            /******************** snackbar *********************/
            textSnackbar: '',
            snackbar: false,
            timeout: 5000
        }
    },
    computed : {
        ...mapGetters([
            'isAdmin',
            'isManager',
            'isEmployee',
            'user',
            'workingTimes',
            'teamWorkingTimes',
            'managerWorkingTimes'
        ]),
        usersToAdd () {
            if(!this.users || !this.selectedTeam.users) {
                return []
            }
            // on affiche pas les users déjà présent dans la team
            return this.users.filter(user => {
                return !this.selectedTeam.users.some(e => e.id == user.id)
            })
        },
        showTeamDashboard () {
            return this.isManager && this.currentTeamID != ''
        },
        showEmployeeDashboard () {
            return this.isEmployee || (this.isManager || this.isAdmin) && this.currentUserID != ''
        }
    },
    methods: {
        findTeams() {
            axios.get('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/teams/manager/' + this.user.id)
                .then(response => {
                    this.teams = response.data.data
                }).catch(() => {
                    this.textSnackbar = "Error during find teams"
                    this.snackbar = true
                })
        },
        findUsers() {
            axios.get('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/users/')
                .then(response => {
                    // on affiche pas l'admin et le manager actuellement connecté
                    this.users = response.data.data.filter(user => {
                        return !(user.id == this.user.id || user.role.id == this.$ADMIN_ID)
                    })
                }).catch(() => {
                    this.textSnackbar = "Error during find users"
                    this.snackbar = true
                })
        },
        changeTeam() {
            let id = this.currentTeamID

            this.selectedTeam = this.teams.find(function(team) {
                return team.id == id
            })

            // clear user selected
            this.currentUserID = ''
            // clear charts data
            this.clearEmployeeCharts()
            this.clearTeamCharts()

            if(this.selectedTeam == undefined) {
                this.selectedTeam = {}
            } else {
                // if team selected, fill chart data
                this.setupTeamCharts()
            }
        },
        changeUser() {
            let id = this.currentUserID

            this.selectedUser = this.users.find(function(user) {
                return user.id == id
            })

            this.clearEmployeeCharts()
            this.setupEmployeeCharts(this.currentUserID)
        },
        createNewTeam() {
            if(this.newTeamTitle != '') {
                axios.post('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/teams',{
                    "team": {
                        "title": this.newTeamTitle,
                        "manager_id": this.user.id
                    }
                })
                .then(response => {
                    let newTeam = response.data.data
                    this.teams.push(newTeam)
                    this.newTeamTitle = ''
                    this.dialog = false
                }).catch(() => {
                    this.textSnackbar = "Error during create new team"
                    this.snackbar = true
                })
            } else {
                this.textSnackbar = "You need to enter a name for the team"
                this.snackbar = true
            }
        },
        deleteTeam() {
            const id = this.selectedTeam.id
            axios.delete('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/teams/' + id)
                .then(response => {
                    // on 'deselectionne' la team
                    this.currentTeamID = ''
                    this.changeTeam()
                    // suppression de la team dans le front
                    this.teams.splice(this.teams.findIndex((team) => team.id == id), 1)
                }).catch(() => {
                    this.textSnackbar = "Error during delete team"
                    this.snackbar = true
                })
        },
        addUserToTeam() {
            axios.post('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/teams/manager/' + this.selectedTeam.id + '/user',{
                "user_id": this.userToAdd
                })
                .then(response => {
                    let newTeam = response.data.data
                    // update team in front
                    this.teams[this.teams.findIndex((team) => team.id == newTeam.id)] = newTeam
                    this.userToAdd = ''
                    // update team chart
                    this.changeTeam()
                }).catch(() => {
                    this.textSnackbar = "Error during add user to team"
                    this.snackbar = true
                })
        },
        removeUserFromTheTeam() {
            axios.delete('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/teams/manager/' + this.selectedTeam.id + '/user',{
                    data: {
                        "user_id": this.currentUserID
                    }
                })
                .then(response => {
                    let newTeam = response.data.data
                    // update team in front
                    this.teams[this.teams.findIndex((team) => team.id == newTeam.id)] = newTeam
                    // update selected user
                    this.selectedUser = {}
                    this.currentUserID = ''
                    // update team chart
                    this.changeTeam()
                }).catch(() => {
                    this.textSnackbar = "Error during remove user from team"
                    this.snackbar = true
                })
        },
        /********************************************** UTILS **********************************************/
        addToMap(map, key, item) {
            const collection = map.get(key)
            if (!collection) {
                map.set(key, [item])
            } else {
                collection.push(item)
            }
        },
        randomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        },
        /********************************************** EMPLOYEE CHART **********************************************/
        setupEmployeeCharts(id, forManager) {
            const manager = forManager ? true : false

            this.$store.dispatch('getWorkingTimes', {id: id, forManager: manager})
            .then(() => {
                let currentWeek = moment().isoWeek()
                let workHours = new Map()
                let workingTimes = manager ? this.managerWorkingTimes : this.workingTimes

                // show stats for current week (keep WT with currentWeek in)
                let weekWorkingTimes = workingTimes.filter(element => {
                    return element.weekStart <= currentWeek && element.weekEnd >= currentWeek
                })

                // trie des working times par jour (map <day, list<WT>>)
                weekWorkingTimes.forEach(item => {
                    // pour chaque date du WT
                    item.dates.forEach(date => {
                        const week = moment(date).isoWeek()
                        const day = moment(date).isoWeekday()
                        // on ajoute si la date est dans la semaine
                        if(week == currentWeek) {
                            this.addToMap(workHours, day, item)
                        }
                    })
                })

                let lastWeekWorkingTimes = workingTimes.filter(element => {                    
                    return element.weekStart <= currentWeek-1 && element.weekEnd >= currentWeek-1
                })

                this.createEmployeeLineChartData(workHours, manager)
                this.createEmployeeDonutChartData(weekWorkingTimes, lastWeekWorkingTimes, manager)
                this.createEmployeeBarChartData(workHours, manager)
            })
            .catch(err => {
                this.errorTxt = 'Erreur lors de la récupération des working times'
                console.log(err)
            })
        },
        createEmployeeLineChartData(workHours, manager) {

            for (let day = 1; day <= 7; day++) {
                let hourOfStart = 0
                let hourOfEnd = 0
                let workingTimes = workHours.get(day)

                if(workingTimes) {
                    workingTimes.forEach(item => {
                        if(hourOfStart == 0 || (item.dayStart == day && item.startMoment.isBefore(hourOfStart))) {
                            hourOfStart = item.startMoment
                        }
                        if(hourOfEnd == 0 || (item.dayEnd == day && item.endMoment.isBefore(hourOfEnd))) {
                            hourOfEnd = item.endMoment
                        }
                    });
                }

                if(hourOfStart != 0){
                    hourOfStart = hourOfStart.locale('fr').format('HH')
                } else {
                    hourOfStart = null
                }

                if(hourOfEnd != 0) {
                    hourOfEnd = hourOfEnd.locale('fr').format('HH')
                } else {
                    hourOfEnd = null
                }
                
                if(!manager) {
                    // push dans les data
                    this.lineChartData.data.datasets[0].data.push(hourOfStart)
                    this.lineChartData.data.datasets[1].data.push(hourOfEnd)
                } else {
                    // push dans les data
                    this.managerLineChartData.data.datasets[0].data.push(hourOfStart)
                    this.managerLineChartData.data.datasets[1].data.push(hourOfEnd)
                }
            }

            if(!manager) {
                this.createChart('line-chart', this.lineChartData)
            } else {
                this.createChart('manager-line-chart', this.managerLineChartData)
            }
        },
        createEmployeeDonutChartData(weekWorkingTimes, lastWeekWorkingTimes, manager) {

            const reducerEmployee = function(currentWeek) {
                return function (total, item) {
                    let startOfWeek, endOfWeek
                    let offset = item.offsetHours
                    let beforeWeek, afterWeek

                    if(currentWeek) {
                        startOfWeek = moment().week(moment().isoWeek()).startOf('week')
                        endOfWeek = moment().week(moment().isoWeek()).endOf('week')
                    } else {
                        startOfWeek = moment().week(moment().isoWeek()-1).startOf('week')
                        endOfWeek = moment().week(moment().isoWeek()-1).endOf('week')
                    }

                    if(item.startMoment.isBefore(startOfWeek)) {
                        beforeWeek = moment.duration(startOfWeek.diff(item.start))
                        offset -= beforeWeek.asHours()
                    }
                    if(item.endMoment.isAfter(endOfWeek)) {
                        afterWeek = moment.duration(item.endMoment.diff(endOfWeek))
                        offset -= afterWeek.asHours()
                    }

                    return total + offset
                }
            }

            const hoursLastWeek = lastWeekWorkingTimes.reduce(reducerEmployee(false), 0)
            const hoursCurrentWeek = weekWorkingTimes.reduce(reducerEmployee(true), 0)

            if(!manager) {
                this.donutChartData.data.datasets[0].data.push(hoursLastWeek.toFixed(2))
                this.donutChartData.data.datasets[0].data.push(hoursCurrentWeek.toFixed(2))
                this.createChart('donut-chart', this.donutChartData)
            } else {
                this.managerDonutChartData.data.datasets[0].data.push(hoursLastWeek.toFixed(2))
                this.managerDonutChartData.data.datasets[0].data.push(hoursCurrentWeek.toFixed(2))
                this.createChart('manager-donut-chart', this.managerDonutChartData)
            }
        },
        createEmployeeBarChartData(workHours, manager) {
            // Pour chaque jour, on calcul le nombre d'heures travaillées
            for (let day = 1; day <= 7; day++) {
                let hours = 0
                let workingTimes = workHours.get(day)

                if(workingTimes) {
                    // on regarde tout les WT
                    workingTimes.forEach(item => {
                        if(item.dayStart == item.endStart) {
                            hours += item.offsetHours
                        } else {
                            // WT sur plusieurs jours
                            let startOfDay, endOfDay
                            let beforeWT, afterWT
                            let offsetWT = item.offsetHours

                            // no time before
                            if(item.dayStart != day) {
                                startOfDay = moment().weekday(day-1).startOf('day')
                                beforeWT = moment.duration(startOfDay.diff(item.start))
                                offsetWT -= beforeWT.asHours()
                            }
                            // no time after
                            if(item.dayEnd != day) {
                                endOfDay = moment().weekday(day-1).endOf('day')
                                afterWT = moment.duration(item.endMoment.diff(endOfDay))

                                offsetWT -= afterWT.asHours()
                            }

                            hours += offsetWT
                        }
                    })
                }
                // push dans les data
                if(!manager) {
                    this.barChartData.data.datasets[0].data.push(hours.toFixed(2))
                } else {
                    this.managerBarChartData.data.datasets[0].data.push(hours.toFixed(2))
                }
            }

            if(!manager) {
                this.createChart('bar-chart', this.barChartData)
            } else {
                this.createChart('manager-bar-chart', this.managerBarChartData)
            }
        },
        clearEmployeeCharts() {
            this.lineChartData.data.datasets[0].data = []
            this.lineChartData.data.datasets[1].data = []
            this.donutChartData.data.datasets[0].data = []
            this.barChartData.data.datasets[0].data = []
        },
        clearManagerCharts() {
            this.managerLineChartData.data.datasets[0].data = []
            this.managerLineChartData.data.datasets[1].data = []
            this.managerDonutChartData.data.datasets[0].data = []
            this.managerBarChartData.data.datasets[0].data = []
        },
        /********************************************** TEAM CHART **********************************************/
        setupTeamCharts() {
            this.$store.dispatch('getTeamWorkingTimes', this.currentTeamID)
            .then(() => {
                let currentMonth = moment().month()
                let workHoursByUser = new Map()
                let workHoursByWeek = new Map()

                // show stats for current mounth
                let monthWorkingTimes = this.teamWorkingTimes.filter(element => {
                    return element.monthStart <= currentMonth && element.monthEnd >= currentMonth
                })

                let monthWorkingTimesLessOne = this.teamWorkingTimes.filter(element => {
                    return element.monthStart <= currentMonth-1 && element.monthEnd >= currentMonth-1
                })

                let monthWorkingTimesLessTwo = this.teamWorkingTimes.filter(element => {
                    return element.monthStart <= currentMonth-2 && element.monthEnd >= currentMonth-2
                })

                // sort by user (map <user, list<WT>>)
                monthWorkingTimes.forEach(item => {
                    this.addToMap(workHoursByUser, item.user_email, item)
                })

                // fill users color
                this.selectedTeam.users.forEach(() => {
                    this.usersColor.push(this.randomColor())
                })

                this.createTeamLineChartData(monthWorkingTimes, monthWorkingTimesLessOne, monthWorkingTimesLessTwo)
                this.createTeamDonutChartData(workHoursByUser)
                this.createTeamBarChartData(workHoursByUser)
            })
        },
        createTeamLineChartData(workingTimes, workingTimesLessOne, workingTimesLessTwo) {
            let hours = 0
            let currentMonth = moment()
            let monthLessOne = moment().subtract(1, 'month')
            let monthLessTwo = moment().subtract(2, 'month')

            hours = workingTimesLessTwo.reduce(reducerTeam(monthLessTwo.month()), 0)

            // push dans les data
            this.teamLineChartData.data.labels.push(monthLessTwo.format('MMMM'))
            this.teamLineChartData.data.datasets[0].data.push(hours.toFixed(2))

            hours = workingTimesLessOne.reduce(reducerTeam(monthLessOne.month()), 0)

            // push dans les data
            this.teamLineChartData.data.labels.push(monthLessOne.format('MMMM'))
            this.teamLineChartData.data.datasets[0].data.push(hours.toFixed(2))

            hours = workingTimes.reduce(reducerTeam(currentMonth.month()), 0)

            // push dans les data
            this.teamLineChartData.data.labels.push(currentMonth.format('MMMM'))
            this.teamLineChartData.data.datasets[0].data.push(hours.toFixed(2))

            this.createChart('line-chart-team', this.teamLineChartData)
        },
        createTeamDonutChartData(workHours) {
            let index = 0
            
            // calculate hours worked
            workHours.forEach((workingTimes, key, map) => {
                const hours = workingTimes.reduce(reducerTeam(moment().month()), 0)

                this.teamDonutChartData.data.labels.push(key)
                this.teamDonutChartData.data.datasets[0].data.push(hours.toFixed())
                this.teamDonutChartData.data.datasets[0].backgroundColor.push(this.usersColor[index++])
            })

            this.createChart('donut-chart-team', this.teamDonutChartData)
        },
        createTeamBarChartData(workHoursByUser) {
            let index = 0
            // const daysSinceBeginningOfMonth = moment().date()
            // calculate hours worked
            workHoursByUser.forEach((workingTimes, user, map) => {
                let dates = []

                workingTimes.forEach(item => {
                    item.dates.forEach(date => {
                        const format = moment(date).format('MM/DD/YYYY');
                        if(dates.indexOf(format) == -1) {
                            dates.push(format)
                        }
                    })
                })

                const total = workingTimes.reduce(reducerTeam(moment().month()), 0)

                this.teamBarChartData.data.labels.push(user)
                this.teamBarChartData.data.datasets[0].data.push((total / dates.length).toFixed(2))
                this.teamBarChartData.data.datasets[0].backgroundColor.push(this.usersColor[index++])
            })

            this.createChart('bar-chart-team', this.teamBarChartData)
        },
        clearTeamCharts() {
            this.teamLineChartData.data.labels = []
            this.teamLineChartData.data.datasets[0].data = []
            this.teamDonutChartData.data.labels = []
            this.teamDonutChartData.data.datasets[0].data = []
            this.teamDonutChartData.data.datasets[0].backgroundColor = []
            this.teamBarChartData.data.labels = []
            this.teamBarChartData.data.datasets[0].data = []
            this.teamBarChartData.data.datasets[0].backgroundColor = []
            this.usersColor = []
        },
        createChart(chartId, chartData) {
            // clear old chart
            const container = document.getElementById(chartId + '-container')
            container.innerHTML = ''
            container.innerHTML = '<canvas id="' + chartId + '"><canvas>'
            // create new
            const ctx = document.getElementById(chartId)
            ctx.height = 300

            const myChart = new Chart(ctx, {
                type: chartData.type,
                data: chartData.data,
                options: chartData.options,
            })
        },
        init() {
            this.clearEmployeeCharts()
            this.clearTeamCharts()
            this.clearManagerCharts()

            if(this.isManager) {
                // manager dashboard
                this.setupEmployeeCharts(this.user.id, true)
                // team and user of team dashboard
                this.findTeams()
                this.findUsers()
            } else if(this.isAdmin) {
                // admin dashboard
                this.setupEmployeeCharts(this.user.id, true)
                this.findUsers()
            } else if(this.isEmployee) {
                this.setupEmployeeCharts(this.user.id)
            }
        }
    },
    mounted () {
        this.init()
    },
    watch: {
        '$route' () {
            this.init()
        }
    }
}
</script>

<style scoped>

</style>