<template>
    <v-container>
        <v-row align="center">
            <v-col v-if="!isAdmin" align="center" cols="12" md="12">
                <v-btn color="red" class="mr-2" v-on:click="deleteAccount()">Delete account</v-btn>
            </v-col>
            <v-col v-else cols="12" md="6">
                <v-data-table
                    v-model="selected"
                    :headers="headers"
                    :items="users"
                    :items-per-page="5"
                    :single-select="singleSelect"
                    show-select
                    class="elevation-1"
                    :loading="loading" loading-text="Loading... Please wait"
                ></v-data-table>
            </v-col>
            <v-col v-if="isAdmin" class="text-center" cols="12" sm="6" md="6">
                <v-btn v-if="selected.length == 1" v-on:click="deleteUser()" class="mr-2">Delete {{selected[0].email}}</v-btn>
            </v-col>
            <v-row justify="center">
                <v-form @submit.prevent="changeEmail()" ref="formEmail">
                    <v-col cols="12" md="12">
                        <v-text-field v-model="email" :rules="emailRules" label="E-mail"></v-text-field>
                    </v-col>
                    <v-col cols="12" md="12">
                        <v-btn :disabled="!valid" type="submit">Change email</v-btn>
                    </v-col>
                </v-form>
            </v-row>
            <v-row justify="center">
                <v-form @submit.prevent="changePassword()" ref="formPassword">
                    <v-col cols="12" md="12">
                            <v-text-field v-model="password"
                                        :type="show1 ? 'text' : 'password'"
                                        :append-icon="show1 ? 'visibility' : 'visibility_off'"
                                        :rules="[rules.required, rules.min]"
                                        label="New password"
                                        hint="At least 8 characters"
                                        counter
                                        @click:append="show1 = !show1"
                            ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="12">
                        <v-text-field v-model="password_confirmation"
                                    :type="show2 ? 'text' : 'password'"
                                    :append-icon="show2 ? 'visibility' : 'visibility_off'"
                                    :rules="[rules.required, rules.min]"
                                    label="Confirm password"
                                    hint="At least 8 characters"
                                    counter
                                    @click:append="show2 = !show2"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="12">
                        <v-btn :disabled="!valid" type="submit" class="mr-2">Change password</v-btn>
                    </v-col>
                </v-form>
            </v-row>
        </v-row>
        <v-snackbar v-model="snackbar" top :timeout="timeout">
        {{ textSnackbar }}
        <v-btn color="blue" text @click="snackbar = false">
            Close
        </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'

export default {
    name: 'EditUser',
    data: function() {
        return {
            valid: true,
            email: "",
            password: "",
            password_confirmation: "",
            show1: false,
            show2: false,
            emailRules: [
                v => (v && /.+@.+/.test(v)) || 'E-mail must be valid',
            ],
            rules: {
                required: value => !!value || 'Required.',
                min: v => (v && v.length >= 8) || 'Min 8 characters',
            },
            users: [],
            selected: [],
            // data table data
            headers: [
                { text: 'Email', value: 'email', sortable: false}
            ],
            loading: true,
            singleSelect: true,
            textSnackbar: '',
            snackbar: false,
            timeout: 5000
        }
    },
    computed: {
        ...mapGetters([
            `user`,
            'isAdmin'
        ])
    },
    methods: {
        changePassword() {
            if (this.$refs.formPassword.validate()) {
                axios.put('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/users/' + this.user.id, {
                    "user": {
                        password: this.password,
                        password_confirmation: this.password_confirmation
                    }
                }).then(response => {
                    this.$refs.formPassword.reset()
                }).catch(err => {
                    this.textSnackbar = "Error during password change"
                    this.snackbar = true
                })
            }
        },
        changeEmail() {
            if (this.$refs.formEmail.validate()) {
                axios.put('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/users/changeMail', {
                    email: this.email
                }).then(response => {
                    this.$store.dispatch('updateEmail', this.email)
                    this.$refs.formEmail.reset()
                }).catch(err => {
                    this.textSnackbar = "Error during email change"
                    this.snackbar = true
                })
            }
        },
        deleteAccount() {
            if(confirm('Are you sure ?')) {
                axios.delete('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/users/' + this.user.id)
                .then(response => {
                    this.$store.dispatch('deleteUser')
                    .then(() => {
                        this.$router.push('/login')
                    })
                }).catch(err => {
                    this.textSnackbar = "Error during delete account"
                    this.snackbar = true
                })
            }
        },
        findUsers() {
            axios.get('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/users/')
                .then(response => {
                    // on affiche pas l'admin (actuellement connecté)
                    this.users = response.data.data.filter(user => user.id != this.user.id)
                    this.loading = false
                }).catch(() => {
                    this.textSnackbar = "Error during find users"
                    this.snackbar = true
                })
        },
        deleteUser() {
            const index = this.users.indexOf(this.selected[0])

            if(confirm('Are you sure ?')) {
                axios.delete('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/users/' + this.selected[0].id)
                .then(response => {
                    this.users.splice(index, 1)
                    this.selected = []
                }).catch(err => {
                    this.textSnackbar = "Error during delete user"
                    this.snackbar = true
                })
            }
        }
    },
    mounted: function() {
        if(this.isAdmin)
            this.findUsers()
    },
    watch: {
        '$route' () {
            if(this.isAdmin)
                this.findUsers()
        }
    }
}
</script>

<style scoped>
</style>