<template>
    <v-container fill-height>
        <v-row align="center">
            <v-row justify="center">
                <v-form class="login" @submit.prevent="login" ref="form">
                    <v-col cols="12" md="12">
                        <v-text-field v-model="email" :rules="emailRules" label="E-mail"></v-text-field>
                    </v-col>
                    <v-col cols="12" md="12">
                        <v-text-field v-model="password"
                                    :type="show3 ? 'text' : 'password'"
                                    :append-icon="show3 ? 'visibility' : 'visibility_off'"
                                    :rules="[rules.required, rules.min]"
                                    label="Password"
                                    hint="At least 8 characters"
                                    counter
                                    @click:append="show3 = !show3"
                        ></v-text-field>
                    </v-col>
                    <v-col align="center" cols="12" md="12">
                        <v-btn type="submit" class="mr-2">log in</v-btn>
                    </v-col>
                </v-form>
            </v-row>
        </v-row>
        <v-snackbar v-model="snackbar" top :timeout="timeout">
        {{ textSnackbar }}
        <v-btn color="blue" text @click="snackbar = false">
            Close
        </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
            email: "",
            emailRules: [
                v => /.+@.+/.test(v) || 'E-mail must be valid',
            ],
            password: "",
            show3: false,
            rules: {
                required: value => !!value || 'Required.',
                min: v => (v && v.length >= 8) || 'Min 8 characters',
            },
            textSnackbar: '',
            snackbar: false,
            timeout: 5000
        }
    },
    methods: {
        login: function() {
            if (this.$refs.form.validate()) {
                let email = this.email.toLowerCase()
                let password = this.password

                this.$store.dispatch('login', { email, password })
                    .then(() => this.$router.push('/'))
                    .catch(err => {
                        this.textSnackbar = "Error during login"
                        this.snackbar = true
                    })
            }
        }
    }
}
</script>