<template>
    <v-container>
        <v-row>
            <v-col class="text-center" cols="12" sm="6" md="6">
                <v-data-table
                    v-model="selected"
                    :headers="headers"
                    :items="users"
                    :items-per-page="10"
                    :single-select="singleSelect"
                    show-select
                    class="elevation-1"
                    :loading="loading" loading-text="Loading... Please wait"
                ></v-data-table>
            </v-col>
            <v-col v-if="selected.length == 1" class="text-center" cols="12" sm="6" md="6">
                <v-btn v-if="selected[0].role.id == 1" v-on:click="promote()" class="mr-2">Promote to manager</v-btn>
                <v-btn v-if="selected[0].role.id == 2" v-on:click="demote()" class="mr-2">Demote to employee</v-btn>
            </v-col>
        </v-row>
        <v-snackbar v-model="snackbar" top :timeout="timeout">
        {{ textSnackbar }}
        <v-btn color="blue" text @click="snackbar = false">
            Close
        </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
import axios from 'axios'

export default {
    name: "Promote",
    data: function() {
        return {
            /************** admin promote user **************/
            users: [],
            selected: [],
            // data table data
            headers: [
                { text: 'Email', value: 'email', sortable: false},
                { text: 'Role', value: 'role.name', sortable: false}
            ],
            loading: true,
            singleSelect: true,
            textSnackbar: '',
            snackbar: false,
            timeout: 5000
        }
    },
    computed : {
        user: function() {return this.$store.state.user}
    },
    methods: {
        findUsers() {
            axios.get('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/users/')
                .then(response => {
                    // on affiche pas l'admin (actuellement connecté)
                    this.users = response.data.data.filter(user => user.id != this.user.id)
                    this.loading = false
                }).catch(() => {
                    this.textSnackbar = "Error during find users"
                    this.snackbar = true
                })
        },
        promote() {
            this.changeRole(this.$MANAGER_ID)
        },
        demote() {
            this.changeRole(this.$EMPLOYEE_ID)
        },
        changeRole(roleID) {
            axios.put('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/users/' + this.selected[0].id + '/changeRole', {
                role_id: roleID,
                })
                .then(response => {
                    this.selected = []
                    this.findUsers()
                })
                .catch(error => {
                    this.textSnackbar = "Error during change role"
                    this.snackbar = true
                })
        }
    },
    mounted () {
        this.findUsers()
    },
    watch: {
        '$route' () {
            this.findUsers()
        }
    }
}
</script>

<style scoped>

</style>