<template>
    <v-container fill-height>
        <v-row align="center">
            <v-row justify="center">
                <v-form @submit.prevent="register" ref="form">
                    <v-col cols="12" md="12">
                        <v-text-field v-model="email" :rules="emailRules" label="E-mail"></v-text-field>
                    </v-col>
                    <v-col cols="12" md="12">
                            <v-text-field v-model="password"
                                        :type="show1 ? 'text' : 'password'"
                                        :append-icon="show1 ? 'visibility' : 'visibility_off'"
                                        :rules="[rules.required, rules.min]"
                                        label="Password"
                                        hint="At least 8 characters"
                                        counter
                                        @click:append="show1 = !show1"
                            ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="12">
                        <v-text-field v-model="password_confirmation"
                                    :type="show2 ? 'text' : 'password'"
                                    :append-icon="show2 ? 'visibility' : 'visibility_off'"
                                    :rules="[rules.required, rules.min]"
                                    label="Confirm password"
                                    hint="At least 8 characters"
                                    counter
                                    @click:append="show2 = !show2"
                        ></v-text-field>
                    </v-col>

                    <v-col align="center" cols="12" md="12">
                        <v-btn type="submit" class="mr-2">sign up</v-btn>
                    </v-col>
                </v-form>
            </v-row>
        </v-row>
        <v-snackbar v-model="snackbar" top :timeout="timeout">
        {{ textSnackbar }}
        <v-btn color="blue" text @click="snackbar = false">
            Close
        </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
            email: "",
            password: "",
            password_confirmation: "",
            show1: false,
            show2: false,
            emailRules: [
                v => ( v && /.+@.+/.test(v)) || 'E-mail must be valid',
            ],
            rules: {
                required: value => !!value || 'Required.',
                min: v => (v && v.length >= 8) || 'Min 8 characters'
            },
            textSnackbar: '',
            snackbar: false,
            timeout: 5000
        }
    },
    methods: {
        register: function() {
            if (this.$refs.form.validate()) {
                let data = {
                    email: this.email.toLowerCase(),
                    password: this.password,
                    password_confirmation: this.password_confirmation
                }

                this.$store.dispatch('register', data)
                    .then(() => this.$router.push('/login'))
                    .catch(err => {
                        this.textSnackbar = "Error during register"
                        this.snackbar = true
                    })
            }
        }
    }
}
</script>