<template>
    <v-container>
        <v-row>
        <div class="flex-grow-1"></div>
            <v-col cols="12" sm="6" md="6">
                <v-dialog
                    ref="dialogStart"
                    v-model="modalStart"
                    :return-value.sync="startDate"
                    persistent
                    width="290px">
                    <template v-slot:activator="{ on }">
                    <v-text-field
                        :value="computedStartDate"
                        label="Start date"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                    ></v-text-field>
                    </template>
                    <v-date-picker first-day-of-week="1" v-model="startDate" scrollable>
                    <div class="flex-grow-1"></div>
                    <v-btn text color="primary" @click="modalStart = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="handleStartDate()">OK</v-btn>
                    </v-date-picker>
                </v-dialog>
            </v-col>
            <v-col cols="12" sm="6" md="6">
                <v-dialog
                    ref="dialogEnd"
                    v-model="modalEnd"
                    :return-value.sync="endDate"
                    persistent
                    width="290px">
                    <template v-slot:activator="{ on }">
                    <v-text-field
                        :value="computedEndDate"
                        label="End date"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                    ></v-text-field>
                    </template>
                    <v-date-picker first-day-of-week="1" v-model="endDate" scrollable>
                    <div class="flex-grow-1"></div>
                    <v-btn text color="primary" @click="modalEnd = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.dialogEnd.save(endDate)">OK</v-btn>
                    </v-date-picker>
                </v-dialog>
            </v-col>
            <v-col cols="12" sm="6" md="6">
                <v-time-picker v-model="timeStart" :landscape="$vuetify.breakpoint.mdAndUp" format="24hr"></v-time-picker>
            </v-col>
            <v-col cols="12" sm="6" md="6">
                <v-time-picker v-model="timeEnd" :landscape="$vuetify.breakpoint.mdAndUp" format="24hr"></v-time-picker>
            </v-col>
            <v-btn :to="{name: 'workingtimes'}" class="mr-2">Back to working times</v-btn>
            <template v-if="isCreating">
                <v-btn v-on:click="create()" :disabled="disableCreateAndUpdate" class="mr-2">Create</v-btn>
            </template>
            <template v-else>
                <v-btn dark v-on:click="deleteWorkingTime()" class="mr-2">Delete</v-btn>
                <v-btn v-on:click="update()" :disabled="disableCreateAndUpdate" class="mr-2">Update</v-btn>
                <v-btn v-on:click="initNewWorkingTime()" class="mr-2">Reset</v-btn>
            </template>
        </v-row>
        <v-snackbar v-model="snackbar" top :timeout="timeout">
        {{ textSnackbar }}
        <v-btn color="blue" text @click="snackbar = false">
            Close
        </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import { mapGetters } from 'vuex'

export default {
    name: 'WorkingTime',
    data: function () {
        return {
            isCreating: true,
            startDate: null,
            endDate: null,
            modalStart: false,
            modalEnd: false,
            timeStart: '08:00',
            timeEnd: '18:00',
            mutableWorkingtimeid: this.workingtimeid,
            /******************** snackbar *********************/
            textSnackbar: '',
            snackbar: false,
            timeout: 5000
        }
    },
    props: ['workingtimeid'],
    methods: {
        initNewWorkingTime() {
            this.isCreating = true,
            this.startDate = null,
            this.endDate = null,
            this.modalStart = false,
            this.modalEnd = false,
            this.timeStart = '08:00',
            this.timeEnd = '18:00'
        },
        handleStartDate() {
            this.$refs.dialogStart.save(this.startDate);

            if(this.endDate == null)
                this.endDate = this.startDate
        },
        create() {
            if(this.startDate && this.endDate) {
                let start = new Date(this.startDate)
                let end = new Date(this.endDate)

                start.setHours(this.timeStart.split(':')[0], this.timeStart.split(':')[1])
                end.setHours(this.timeEnd.split(':')[0], this.timeEnd.split(':')[1])

                axios.post('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/workingtimes/' + this.user.id, 
                {
                "workingtime": {
                    start: start.toISOString(),
                    end: end.toISOString()
                }
                }).then(response => {
                    if(response.status == 201) {
                        this.textSnackbar = "Create successfully"
                        this.snackbar = true
                        this.mutableWorkingtimeid = response.data.data.id
                        this.init()
                    } else {
                        this.textSnackbar = "Error during creation"
                        this.snackbar = true
                    }
                }).catch(() => {
                    this.textSnackbar = "Error during creation"
                    this.snackbar = true
                })
            }
        },
        update() {
            let start = new Date(this.startDate)
            let end = new Date(this.endDate)

            start.setHours(this.timeStart.split(':')[0], this.timeStart.split(':')[1])
            end.setHours(this.timeEnd.split(':')[0], this.timeEnd.split(':')[1])

            axios.put('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/workingtimes/' + this.mutableWorkingtimeid, {
            "workingtime": {
                start: start.toISOString(),
                end: end.toISOString()
            }
            }).then(response => {
                if(response.status === 200) {
                    this.textSnackbar = 'Update successfully'
                    this.snackbar = true
                } else {
                    this.textSnackbar = "Error during update"
                    this.snackbar = true
                }
            }).catch(() => {
                this.textSnackbar = "Error during update"
                this.snackbar = true
            })
        },
        deleteWorkingTime() {
            axios.delete('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/workingtimes/' + this.mutableWorkingtimeid).then(response => {
                if(response.status === 204) {
                    this.textSnackbar = "Delete successfully"
                        this.snackbar = true
                    this.mutableWorkingtimeid = null
                    this.init()
                } else {
                    this.textSnackbar = "Error during removal"
                    this.snackbar = true
                }
            }).catch(function() {
                this.textSnackbar = "Error during removal"
                this.snackbar = true
            })
        },
        init() {
            if(this.mutableWorkingtimeid)
            {
                this.isCreating = false
                this.findWorkingTime()
            } else {
                this.initNewWorkingTime()
            }
        },
        findWorkingTime() {
            this.errorTxt = ''

            axios.get('http://' + (process.env.VUE_APP_API_HOST || "0.0.0.0") + ':4000/api/workingtimes/' + this.user.id + '/' + this.mutableWorkingtimeid)
                .then(response => {
                    let data = response.data.data

                    let start = new Date(data.start)
                    let end = new Date(data.end)

                    this.startDate = start.toISOString().substr(0, 10)
                    this.endDate = end.toISOString().substr(0, 10)
                    this.timeStart = start.getHours() + ':' + start.getMinutes()
                    this.timeEnd = end.getHours() + ':' + end.getMinutes()
                }).catch(() => {
                    this.textSnackbar = "Error during search workingtime"
                    this.snackbar = true
                })
        },
    },
    computed: {
        ...mapGetters([
            'user'
        ]),
        computedStartDate () {
            return this.startDate ? moment(this.startDate).locale('fr').format('dddd, MMMM Do YYYY') : ''
        },
        computedEndDate () {
            return this.endDate ? moment(this.endDate).locale('fr').format('dddd, MMMM Do YYYY') : ''
        },
        disableCreateAndUpdate () {
            let startHour = this.timeStart.split(':')[0]
            let startMinute = this.timeStart.split(':')[1]
            let endHour = this.timeEnd.split(':')[0]
            let endMinute = this.timeEnd.split(':')[1]

            startHour = ('0' + startHour).slice(-2)
            startMinute = ('0' + startMinute).slice(-2)
            endHour = ('0' + endHour).slice(-2)
            endMinute = ('0' + endMinute).slice(-2)

            return (this.startDate === null || this.endDate === null) 
                    || (this.startDate > this.endDate) 
                    || (this.startDate == this.endDate) && (startHour > endHour) 
                    || (this.startDate == this.endDate) && (startHour == endHour && startMinute >= endMinute)
        }
    },
    mounted () {
        this.init()
    },
    watch: {
        '$route' () {
            this.init()
        }
    }
}
</script>

<style scoped>
    .errorLabel {
        color: red;
    }
    .infoLabel {
        color: blue;
    }
</style>