<template>
    <v-container>
        <v-row v-if="errorTxt === ''">
            <v-col class="text-center" cols="12" sm="12" md="12">
                <h1>WorkingTimes</h1>
            </v-col>
            <Clock/>
            <v-col class="text-center" cols="12" sm="12" md="12">
                <v-data-table
                    :headers="headers"
                    :items="workingTimes"
                    :items-per-page="5"
                    class="elevation-1"
                    :loading="loading" loading-text="Loading... Please wait"
                >

                <template v-slot:item.edit="{ item }">
                    <router-link :to="{name: 'workingtimeTwo', params: { workingtimeid: item.id }}">
                        edit
                    </router-link>
                </template>

                </v-data-table>
            </v-col>
            <v-col>
                <v-btn :to="{name: 'workingtime'}">Create new</v-btn>
            </v-col>
        </v-row>

        <v-row class="infoLabel" v-if="infoTxt !== ''">
            {{ infoTxt }}
        </v-row>
        <v-row class="errorLabel" v-if="errorTxt !== ''">
            {{ errorTxt }}
        </v-row>
    </v-container>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import moment from 'moment'
import Clock from './ClockManager.vue'

export default {
    name: 'WorkingTimes',
    components: {
        Clock
    },
    data: function() {
        return {
            errorTxt: '',
            infoTxt: '',
            loading: true,
            headers: [
            { text: 'Date de début', value: 'startTxt', sortable: false },
            { text: 'Date de fin', value: 'endTxt', sortable: false },
            { text: 'Offset', value: 'offset', sortable: false },
            { text: 'Edit', value: 'edit', sortable: false }
            ]
        }
    },
    computed: {
        ...mapGetters([
            'workingTimes'
        ]),
    },
    methods: {
        showAlert(a) {
            alert(a.offset)
        },
        findWorkingTimes() {
            this.loading = true
            
            this.$store.dispatch('getWorkingTimes', {forManager: false})
            .then(() => {
                this.loading = false
            })
            .catch(err => {
                this.loading = false
                this.errorTxt = 'Erreur lors de la récupération des working times'
                console.log(err)
            })
        }
    },
    mounted () {
        this.findWorkingTimes()
    },
    watch: {
        '$route' () {
            this.findWorkingTimes()
        }
    }
}
</script>

<style scoped>
    .errorLabel {
        color: red;
    }
    .infoLabel {
        color: blue;
    }
</style>