<template>
  <v-app>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <v-app-bar v-if="isLoggedIn" app>
      <v-toolbar-title class="headline text-uppercase">
        <router-link id="appName" :to="{ path: '/' }">
          <span class="font-weight-light">Time Manager</span>
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn text :to="{name: 'workingtimes'}">
        <span class="mr-2">WorkingTimes</span>
      </v-btn>
      <v-btn text to="/ChartManager">
        <span class="mr-2">chartManager</span>
      </v-btn>
      <v-btn v-if="isAdmin" text to="/Promote">
        <span class="mr-2">Promote</span>
      </v-btn>
      <v-btn text to="/EditUser">
        <span class="mr-2">Edit</span>
      </v-btn>
      <v-btn text @click="logout">
        <span class="mr-2">Logout <br>({{ getUser.email }})</span>
      </v-btn>
    </v-app-bar>

    <v-app-bar v-else app>
      <v-toolbar-title class="headline text-uppercase">
        <router-link id="appName" :to="{ path: '/' }">
          <span class="font-weight-light">Time Manager</span>
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn text :to="{name: 'login'}">
        <span class="mr-2">Login</span>
      </v-btn>
      <v-btn text :to="{name: 'register'}">
        <span class="mr-2">Register</span>
      </v-btn>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>

    <v-footer padless>
        <v-col class="text-center" cols="12">
            {{ new Date().getFullYear() }} — Team 2 - <strong>Epitech</strong>
        </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import Login from './components/Login.vue'
import Register from './components/Register.vue'
import axios from 'axios'

export default {
  name: 'App',
  components: {Login, Register},
  computed : {
    isLoggedIn : function(){ return this.$store.getters.isLoggedIn},
    getUser : function(){ return this.$store.state.user},
    isAdmin : function(){ return this.$store.getters.isAdmin}
  },
  methods: {
    logout: function () {
      this.$store.dispatch('logout')
      .then(() => {
        this.$router.push('/login')
      })
    }
  }
};
</script>

<style scoped>
#appName {
  text-decoration: none;
  color: black !important;
}
</style>